<!DOCTYPE html>
<html>
<head>
    <title>Translation App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
</head>
<body id = 'bod'>
    <h1>Translation App</h1>
    <form id="translation-form">
        <label for="input-text">Enter text to translate:</label>
        <input type="text" id="inputtext" name="input_text">
        <button id="button1" type="button">Translate</button>
    </form>
    <div id="translated-text"></div>
    <script>
        // const form = document.getElementById('translation-form');
        // const input = document.getElementById('input-text');
        // const output = document.getElementById('translated-text');

        // form.addEventListener('submit', (event) => {
            // event.preventDefault();
            // const data = new FormData(form);
            // fetch('http://localhost:5000/translate', {
            //     method: 'POST',
            //     body: data,
            //     mode:'no-cors'
            // })
            // .then(response => response.json())
            // .then(data => {
            //     output.innerHTML = response
            // })
            // .catch(error => {
            //     console.error(error);
            // });
        document.getElementById('button1').addEventListener('click', function() {
        // Make an asynchronous POST request to the Flask server
        const textInput = document.getElementById('inputtext').value;
        fetch('/translate', {
            method: 'POST',
            body: textInput, // Sending the input field's value as the body
                headers: {
                    'Content-Type': 'text/plain' // Set Content-Type as text/plain
                }
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById('translated-text').innerHTML = data; // Log the response to the browser's console
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
        // });
    </script>
</body>
</html>